<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
    <form method="post" action="/user/new">
        <input type="text" name="username" placeholder="enter username"><br><br><hr>
        <input type="email" name="email" placeholder="enter email"><br><br><hr>
        <input type="password" name="password" placeholder="enter password"><br><br><hr>
        <button>Submit</button>
    </form>
</head>
<body>
    
</body>
</html>